body {
  background: #e4e4e4 url("../img/bg.png");
  margin: 0;
}
.main {
  background: url("../img/header.png") repeat-x;
}

#col-1 {
 float: left;
 position: relative;
}

#dudes {
  position: absolute;
  top: 2.3em;
  height: 14em;
  width: 14em;
  left: 3em;
}

#logo {
  position: absolute;
  top: 8.6em;
  width: 8em;
  height: 3em;
  left: 6.5em;
}

.nav {
  width: 30%;
  margin: 21em auto 0;
  margin-left: 7em;
  position: relative;
}

ul {
  list-style: none;
  border-bottom: 1px solid #888583;
}

ul a {
  transition: 0.2s color linear;
  text-decoration: none;
  color: #890101;
}

ul a:hover {
  color: #DF3030;
}

ul li {
  border-top: 1px solid #888583;
  padding: 0.75em;
  position: relative;
  right: 1em;
}

.intro {
  float: right;
  width: 64em;
  position: relative;
}

.villains {
  background-color: dark grey;
  display: inline;
}

#lineLeft {
  float:left;
  width: 35%;
}

#lineRight {
  float:right;
  width: 35%;
}

ol {
  list-style: none;
  text-align: center;
}

ol a {
  transition: 0.2s color linear;
  text-decoration: none;
  color: #890101;
}

ol a:hover {

  color: #DF3030;
}
 img {
   width: 100%;
   height: 100%
 }
.figure {
  float: left;
  width: 14em;
  margin: 1.5em;
}

.photos {
  float: right;
  width: 64em;
}

.figure img {
    border-radius: 8px;
    box-shadow: 0px 3px 7px 1px #0000004d;
}

p {
  width: 48em;
  left: 4em;
  position: relative;
}

h3 {
  position: relative;
  left: 20em;
}

h2 {
  position: relative;
  left: 11em;
}

.footer {
  list-style: none;
  text-decoration: none;
}
