.section:after, nav:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


html, body, div, img, h1, h2, h3, p, a, abbr, em, font, b, u, i, ol, ul, li {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
  background: #e4e4e4 url("../img/bg.png");
  font: normal 100% Georgia, serif;
  text-shadow: 0 1px white;
}

ol, ul {
  list-style:none;
}

a {
  color: #890101;
  text-decoration: none;
  transition: 0.2s color linear;
}

a:hover {
  color: #df3030;
}

.main {
  background: url("../img/header.png") repeat-x;
  padding: 2em 0;
}

.container {
  margin: 0 auto;
  width: 94%;
}

img {
  max-width: 100%
}

#col-1 {
  float: left;
  width: 32%;
}

h1 {
  background: url("../img/logo-bg.png") no-repeat 50% 0;
}

h1 a {
  padding-top: 117px;
  height: 162px;
  display: block;
  text-align: center;
}

.intro, .photos, .footer {
  float: right;
  width: 66%;
}

.intro {
  margin-top: 117px;
}

.intro div {
  line-height: 1.4;
}

.nav {
  border-top: 1px solid #888583;
  margin: 2em auto 0;
  width: 64%;
}

.nav a {
  background: url("../img/ornament.png") no-repeat 0 100%;
  display: block;
  text-align: center;
  letter-spacing: .1em;
  padding: 1em .5em 3em;
  text-transform: uppercase;
}

.nav a:hover {
  background-position: 50% 100%;
}

.first a {
  border-top: 1px solid #fff9ef;
  padding-top: 1.25em;
}

.nav i {
  display: block;
  letter-spacing: .05em;
}

.intro h2 {
  font: normal 2em "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
  text-align: center;
  margin-bottom: .25em;
}

.photos h2 {
  font-size: 1.4em;
  text-align: center;
  margin: .75em 0 1em;
}
.photos h2 b {
  background: url("../img/bg.png");
  font-weight: normal;
  padding: 0 1em;
}

.figure {
  float: left;
  font-size: 10px;
  line-height: 1.1;
  margin: 0 3.3% 1.5em 0;
  text-align: center;
  width: 31%;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.figure b {
  display: block;
  font-size: 14px;
  letter-spacing: .1em;
}

.figure img {
  border-radius: 4px;
  display: block;
  margin: 0 auto 1em;
  box-shadow: 0 2px 4px 1px #00000070;
}

#f-mycroft, #f-winter {
  margin-right: 0;
}

.footer {
  background: url("../img/ornament.png") 50% 0 repeat-x;
  font-size: 12px;
  text-align: center;
  padding: 40px 0 20px;
}

.footer p {
  margin-bottom: .5em;
}

/*media queries section*/

@media (max-width: 600px) {

  .container {
    position: relative;
  }

 #col-1, .intro, .photos, .footer {
   float: none;
   width: auto;
 }

 h1 {
   background: none;
 }

 h1 a {
   padding-top: 70px;
   height: 87px;
 }

 .nav {
   margin: 0 auto;
   position: absolute;
   top: 0;
   width: 100%;
   border-top: none;
 }

 .nav li {
   float: left;
   margin-right: 3.3%;
   width: 31%;
 }

 .nav a, .nav i {
   font: 10px Helvetica, Arial, sans-serif;
   letter-spacing: 0;
 }

 .nav a:hover, .nav a:focus {
   background-position: 0 100%;
 }

 .first a {
   border-top: none;
   padding-top: 1em;
 }

 .nav li.last  {
   margin-right: 0;
 }

 .nav li.last {
   margin-right: 0;
 }

 .intro {
   margin-top: 0;
 }

 .intro h2 {
   font-size: 1.4em;
 }

}

@media (max-width: 400px) {
  .figure, #f-mycroft {
    margin-right: 3.3%;
    width: 48%;
  }

  #f-watson, #f-moriarty {
    margin-right: 0;
  }
}

@media (min-width: 1300px) {
 #col-1 {
   float: none;
   width: auto;
 }

 h1 {
   float: left;
   width: 32%;
 }

 .nav {
   float: right;
   margin: 40px 0 1em;
   text-align: center;
   width: 65%;
   border-top: none;
 }

 .nav li.first a {
   border-top: none;
   padding-top: 1em;
 }
 .nav li {
   float: left;
   margin-right: 3.3%;
   width: 31%;
 }
 .nav li.last  {
   margin-right: 0;
 }

 .intro {
   margin-top: 1em;
 }

 .figure, #f-mycroft {
   margin-right: 3.3%;
   width: 13%;
 }

 .footer {
   clear: both;
   float: none;
   margin-left: 57%;
   width: 20.5%;
 }
}
